/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #333333 url("bg.jpg");
  font-family: 'Raleway', sans-serif;
  font-size: medium;
  color: white; }

#container {
  position: relative;
  max-width: 600px;
  min-width: 100px;
  margin: 0 auto;
  padding: 25px; }
  #container h2 {
    position: relative;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #3d464e;
    color: white;
    font-size: large; }
  #container section {
    width: 300px;
    margin: 20px 0; }
    #container section .file-select {
      width: 200px;
      overflow: hidden;
      position: relative;
      float: left;
      margin-bottom: 20px;
      padding: 15px 0;
      background-image: -moz-linear-gradient(90deg, #fcc95b 0%, #ffd46d 100%);
      background-image: -webkit-linear-gradient(90deg, #fcc95b 0%, #ffd46d 100%);
      border: 1px solid #f3be4d;
      border-radius: 5px;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
      color: #556270;
      font-weight: 700;
      text-align: center;
      cursor: pointer; }
      #container section .file-select:hover {
        background-image: -moz-linear-gradient(90deg, #ffd46d 0%, #fcc95b 100%);
        background-image: -webkit-linear-gradient(90deg, #ffd46d 0%, #fcc95b 100%); }
      #container section .file-select:active {
        border-color: #556270; }
      #container section .file-select input[type=file] {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        min-height: 100%;
        min-width: 100%;
        font-size: 999px;
        opacity: 0;
        text-align: right;
        cursor: inherit; }
    #container section small {
      display: block;
      clear: both; }
    #container section #drop-zone {
      position: relative;
      width: 100%;
      height: 50px;
      margin-top: 20px;
      padding: 25px 0 0 0;
      border-radius: 5px;
      border: 2px dashed #3d464e;
      text-align: center; }
  #container li {
    position: relative;
    height: 150px;
    width: 150px;
    padding: 5px;
    border: 1px solid rgba(51, 51, 51, 0);
    border-radius: 5px; }
    #container li:hover {
      border-color: #4ecdc4; }
    #container li.msg {
      color: #c44d58;
      border: none; }
    #container li img {
      position: absolute;
      clip: rect(0, 150px, 150px, 0); }
